.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 50px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: darkolivegreen;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}

.btn-start {
    position: absolute;
    top: 0;
    right: 0;
}